<app-header-return titulo="Tipo de maltrato"></app-header-return>

<ion-content>
  <h1>¿Qué tipos de maltrato identifica en este caso?</h1>
  <ion-button expand="block" routerLink="/grooming">
    Sexual
  </ion-button>

  <ion-button expand="block" routerLink="/maltratofisico">
    Físico
  </ion-button>

  <ion-button expand="block" routerLink="/maltratopsicologico">
    Psicologico
  </ion-button>

  <ion-button expand="block" routerLink="/maltratofisico">
    Ciberbullying
  </ion-button>

  <ion-button expand="block" routerLink="/grooming">
    Grooming
  </ion-button>



</ion-content>