<app-header-return titulo="Accion Sexual Grooming"></app-header-return>

<ion-content>

    <ion-button expand="block" (click)="onClickAccion()">
        <div class="text-title"> ACCIONES </div>
    </ion-button>

    <div #accion style="display:none">
        <ion-list>
            <ion-item>
                <ion-icon name="document-lock-outline" class="icons"></ion-icon>
                <ion-label> Protección de pruebas </ion-label>    
            </ion-item>


            <ion-item>
                <ion-icon name="shield-half-outline" class="icons"></ion-icon>
                <ion-label> Denuncia a la policia </ion-label>
            </ion-item>

            <ion-item>
                <ion-icon name="add-outline" class="icons"></ion-icon>
                <ion-label> Parte de lesiones </ion-label>
            </ion-item>

            <ion-item>
                <ion-icon name="call-outline" class="icons"></ion-icon>
                <ion-label> Comunicación a TS </ion-label>
            </ion-item>

            <ion-item>
                <ion-icon name="document-text-outline" class="icons"></ion-icon>
                <ion-label> Informe </ion-label>
            </ion-item>

            <ion-item>
                <ion-icon name="school-outline" class="icons"></ion-icon>
                <ion-label> Comunicación al centro escolar </ion-label>
            </ion-item>

        </ion-list>
    </div>
</ion-content>