<ion-header>
  <ion-toolbar>
    <ion-title color="primary" class="texto">Algoritmo de Actuación en el Ciberacoso: Ciberbullying y Grooming</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 id="titulo" class="texto">Sospecha de Ciberacoso</h1>
  <h4 class="texto">Esta encuesta le ayudará a obtener pasos a seguir en caso de que sospeche que algún joven dentro de su institución esté sufriendo de Ciberacoso.</h4>

  <ion-button expand="block" routerLink="/realizar" class>
    Siguiente
  </ion-button>

</ion-content>